[{
    kernel,
    [
      {distributed, [{'excluster', 5000, ['excluster@10.50.1.1', {'excluster@10.50.1.2', 'excluster@10.50.1.3'}]}]},
      {sync_nodes_optional, [
        'excluster@10.50.1.1', 
        'excluster@10.50.1.2',
        'excluster@10.50.1.3'
      ]},
      {sync_nodes_timeout, 5000}
    ]
}].